<%- include('../includes/head.ejs') %>
</head>
<body>
  <%- include('../includes/navigation.ejs') %>
  <div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="container mx-auto">
      <% if (errorMessage) { %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Erreur!</strong>
          <span class="block sm:inline"><%= errorMessage %></span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M14.348 14.849a1 1 0 001.415-1.415l-4.243-4.243 4.243-4.243a1 1 0 00-1.415-1.415L10 7.757 5.757 3.514a1 1 0 00-1.415 1.415l4.243 4.243-4.243 4.243a1 1 0 001.415 1.415L10 12.273l4.348 4.348z"/></svg>
          </span>
        </div>
      <% } %>
      <div class="grid grid-cols-1 gap-4 mt-4">
        <div class="w-full max-w-lg mx-auto bg-white rounded-lg shadow-md p-6">
          <h3 class="text-center text-2xl font-semibold">S'inscrire</h3>
          <form id="signup-form" action="/signup" method="POST" novalidate>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
              <input name="email" id="email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" value="<%= oldInput.email %>">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">Mot de passe</label>
              <input name="password" id="password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" value="<%= oldInput.password %>">
            </div>
            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">Confirmez le mot de passe</label>
              <input name="confirmPassword" id="confirmPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" value="<%= oldInput.confirmPassword %>">
            </div>
            <div class="text-center">
              <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">S'inscrire</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../includes/end.ejs') %>
</body>
</html>
