<header class="bg-gray-900 p-4 flex justify-between items-center main-header">
  <div class="flex items-center space-x-4">
    <i id="character-btn" class="fas fa-gamepad text-2xl"></i>
  </div>
  <div class="flex items-center space-x-4 ml-4">
    <div class="relative">
      <i class="fas fa-bell text-xl"></i>
      <span class="absolute top-0 right-0 bg-red-600 text-xs rounded-full px-1">3</span>
    </div>
  </div>

  <div class="backdrop"></div>
  <button id="side-menu-toggle" class="ml-4">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <li class="main-header__item main-header__title">
        <a class="<%= path === '/' ? 'active' : '' %>" href="/">VitalQuest</a>
      </li>
      <% if (isAuthenticated) { %>
        <% if (isAdmin) { %>
          <li class="main-header__item">
            <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Manage Products
            </a>
          </li>
        <% } %>
      <% } %>
    </ul>
    <ul class="main-header__item-list">
      <li class="main-header__item">
        <a class="<%= path === '/about' ? 'active' : '' %>" href="/about">About</a>
      </li>
      <li class="main-header__item">
        <a class="<%= path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>
      </li>
      <% if (!isAuthenticated) { %>
        <li class="main-header__item">
          <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
        </li>
        <li class="main-header__item">
          <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Log In</a>
        </li>
      <% } else { %>
        <li class="main-header__item">
          <a class="<%= path === '/mypage' ? 'active' : '' %>" href="/mypage">My Page</a>
        </li>
        <li class="main-header__item">
          <form action="/logout" method="post">
            <a>
              <button type="submit" class="logout">Logout</button>
            </a>
          </form>
        </li>
        <li>
          <a href="/cart">
            <span class="uk-icon ui-icon" uk-tooltip="title: View cart items" uk-icon="icon: cart"></span>
          </a>
        </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <li class="mobile-nav__item">
      <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
    </li>
    <% if (isAuthenticated) { %>
      <li class="mobile-nav__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Cart</a>
      </li>
      <% if (isAdmin) { %>
        <li class="mobile-nav__item">
          <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Manage Products
          </a>
        </li>
      <% } %>
    <% } %>
    <% if (!isAuthenticated) { %>
      <li class="mobile-nav__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
      </li>
      <li class="mobile-nav__item">
        <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
      </li>
    <% } else { %>
      <li class="mobile-nav__item">
        <a class="<%= path === '/mypage' ? 'active' : '' %>" href="/mypage">My Page</a>
      </li>
      <li class="mobile-nav__item">
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
    <% } %>
  </ul>
</nav>
