<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/product.css">
</head>




<body class="bg-gray-800 text-white font-sans leading-normal tracking-normal">
  <%- include('../includes/navigation.ejs') %>
  <%- include('../includes/banner.ejs') %>

  <main>
    <%- include('../includes/profile-section.ejs') %>
    <%- include('../includes/navigation-tabs.ejs') %>
    <%- include('../includes/game-stats-section.ejs') %>
    <%- include('../includes/product-list.ejs') %>
  </main>
  <%- include('../includes/footer.ejs') %>

  <script src="cameraCapture.js"></script>
  <script>
    // Your JavaScript code here
  </script>






%- include('../includes/end.ejs') %>