<%- include('../includes/head.ejs') %>
</head>

<body class="bg-gray-800 text-white">
    <%- include('../includes/header.ejs') %>
    <div class="container mx-auto p-4">
        <%- include('../includes/Tools.ejs') %>
    </div>
    <%- include('../includes/FOOTER.ejs') %>        

<%- include('../includes/end.ejs') %>